html {
  overflow-x:hidden;
}
body {
  background-color: white;
  color: black;
   overflow-x:hidden;
   height:100%;
}
.info{
 margin:auto;
 position:relative;
 margin-top:10%;
 width:80%;
 height:100%;
 text-align:center;
 border-style:solid;
 padding-left:5%;
  padding-right:5%;
}
.linebreak{
  color:blue;
}

a
{
 text-decoration:none
}
.bottom {
position: absolute;
bottom:0%;
left:40%;
margin:auto;
color:black;
}

@media only screen and (min-width: 600px) {
  body {background-color: white;}
  .info{
    width:40%;
    left: 10%;
    
  }
  .bottom{
bottom:0%;
left:20%;
  }
}
