body {
  background-color: white;
  color: black;
}
.info{
 margin:auto;
 position:relative;
 margin-top:10%;
 width:80%;
 height:100%;
 text-align:center;
 border-style:solid;
 padding-left:5%;
  padding-right:5%;
}
.linebreak{
  color:blue;
}

a
{
 text-decoration:none
}
.bottom {
position: absolute;
bottom:5%;
left:20%;
margin:auto;
color:blue;
}
